.Button{
    width:100%;
    height:80%;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    
}

.operatorButton{
    width:100%;
    height:80%;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: white !important;
    background-color: #98A1D7 !important;
}